<div class="publications-container">
  @for (publication of publications; track publication._id) {
  <div class="publication-card">

    <!-- Información del usuario -->
    <div class="user-info">
      <a [routerLink]="['/profile', publication.user]">
        @if (publication.userModel) {
        <img [src]="publication.userModel.image || 'assets/users/chef.jpg'" alt="Usuario"
          class="user-image clickable-avatar">
        }
      </a>
      @if (publication.userModel) {
      <div class="user-name">
        {{ publication.userModel.name }} {{ publication.userModel.surname }}
      </div>
      }
    </div>

    <!-- Imagen de la publicación -->
    <div class="publication-image">
      <img [src]="publication.image || 'assets/default-image.jpg'" alt="Receta" class="image">
    </div>

    <!-- Detalles de la publicación -->
    <div class="publication-details">

      <div class="title-category">
        <h3 class="title">{{ publication.title }}</h3>
        <span class="category">{{ publication.category }}</span>
      </div>

      <!-- Tags -->
      <div class="tags">
        @for (tag of publication.tags; track tag) {
        <span class="tag">{{ tag }}</span>
        }
      </div>

      <!-- Descripción -->
      <div class="description">
        <p>{{ publication.description }}</p>
      </div>

      <!-- Pasos -->
      @if (publication.steps) {
      <div class="steps">
        <h4>Pasos:</h4>
        <p>{{ publication.steps }}</p>
      </div>
      }

      <!-- Footer con likes, comentarios, vistas, dificultad y tiempo -->
      <div class="footer">
        <span class="views">👁️ {{ publication.views }} vistas</span>
        <span class="difficulty">Nivel: {{ publication.difficulty }}</span>
        <span class="prep-time">⏳ {{ publication.prepTime }} min</span>
        <!-- Botón de mostrar likes por publicación -->
         @if(isLiked(publication._id)) {
          <span class="likes clickable" (click)="openLikesModal(publication._id)">
            ❤️ {{ getLikeCount(publication._id) }} likes
          </span>
         } @else {
          <span class="likes clickable" (click)="openLikesModal(publication._id)">
            🤍 {{ getLikeCount(publication._id) }} likes
          </span>
         }
        <!-- Componente modal de likes -->
        <app-like-modal *ngIf="showLikesModal" [likes]="selectedLikes" (close)="closeLikesModal()"></app-like-modal>
        <span class="likes clickable" (click)="openCommentsModal(publication._id)">
          💬 {{ getCommentCount(publication._id) }} comentarios
        </span>
        <app-comment-modal *ngIf="showCommentsModal" [publicationId]="selectedPublicationId" [comments]="selectedComments" (close)="closeCommentsModal()"></app-comment-modal>

      </div>

    </div>
  </div>
  }
</div>