<div class="publications-container">
  @for (publication of publications; track publication._id) {
  <div class="publication-card">

    <!-- Información del usuario -->
    <div class="user-info">
      <a [routerLink]="['/profile', publication.user]">
        @if (publication.userModel) {
          <img [src]="'http://localhost:3800/api/get-image-user/' + publication.userModel.image" alt="Imagen de perfil"
          class="user-image clickable-avatar">
        }
      </a>
      @if (publication.userModel) {
      <div class="user-name">
        {{ publication.userModel.name }} {{ publication.userModel.surname }}
      </div>
      }
    </div>

    <!-- Imagen de la publicación -->
    <div class="publication-image">
      <img [src]="getImageUrl(publication.image)" alt="Receta" class="image">
    </div>

    <!-- Detalles de la publicación -->
    <div class="publication-details">

      <div class="title-category">
        <h3 class="title">{{ publication.title }}</h3>
        <span class="category">{{ publication.category }}</span>
      </div>

      <!-- Tags -->
      <div class="tags">
        @for (tag of publication.tags; track tag) {
        <span class="tag">{{ tag }}</span>
        }
      </div>

      <!-- Descripción -->
      <div class="description">
        <p>{{ publication.description }}</p>
      </div>

      <!-- Pasos -->
      @if (publication.steps) {
      <div class="steps">
        <h4>Pasos:</h4>
        <p>{{ publication.steps }}</p>
      </div>
      }

      <div class="footer">
        <span class="difficulty">Nivel: {{ publication.difficulty }}</span>
        <span class="prep-time">⏳ {{ publication.prepTime }} min</span>
        <!-- Botón de mostrar likes por publicación -->

        <!-- Botón de like que cambia dinámicamente -->
        <span class="likes clickable">
          <!-- ❤️ o 🤍 → toggle like -->
          <span class="heart-icon" (click)="toggleLike(publication._id)">
            @if (isLiked(publication._id)) {
            ❤️
            } @else {
            🤍
            }
          </span>

          <!-- contador de likes → abre modal -->
          <span class="like-count" (click)="openLikesModal(publication._id)">
            {{ getLikeCount(publication._id) }} likes
          </span>
        </span>

        <!-- Componente modal de likes -->
        <app-like-modal *ngIf="showLikesModal" [likes]="selectedLikes" (close)="closeLikesModal()"></app-like-modal>
        <span class="heart-icon" (click)="openCommentsModal(publication._id)">
          💬 {{ getCommentCount(publication._id) }} comentarios
        </span>
        <app-comment-modal *ngIf="showCommentsModal" [publicationId]="selectedPublicationId" [currentUserId]="currentUserId" [comments]="selectedComments" (close)="closeCommentsModal()">
        </app-comment-modal>

      </div>

    </div>
  </div>
  }
</div>