<div class="home-wrapper">
  <div class="branding-container">
    <div class="logo-section">
      <img src="../assets/logo.png" alt="Logo Red Social Recetas Jaime" class="branding-logo-large" />
    </div>
    <div class="welcome-section">
      <h1 class="branding-title">Happening now</h1>
      <br />
      <br />
      <br />

      <h2 class="branding-subtitle">Join today.</h2>

      <div class="auth-buttons">
        <a href="/login"><button class="signup-btn">Iniciar Sesión</button></a>
        <a href="/register"><button class="signup-btn">Registrarse</button></a>
      </div>

      <div class="terms-section">
        <p class="terms-text">
          Al continuar, aceptas nuestros <a href="legal/terms">Términos de servicio</a> y <a href="legal/privacy">Política de privacidad</a>.
        </p>
      </div>
    </div>
  </div>
</div>