@if(!userService.isAuthenticated()){
  <div class="home-wrapper">
    <div class="branding-container">
      <div class="logo-section">
        <img src="../assets/logo.png" alt="Logo Rechefly" class="branding-logo-large" />
      </div>
      <div class="welcome-section">
        <h1 class="branding-title">Bienvenido a <span class="highlight">Rechefly</span></h1>
        <h2 class="branding-subtitle">Comparte, descubre y disfruta de las mejores recetas.</h2>
  
        <div class="auth-buttons">
          <a href="/login"><button class="auth-btn login-btn">Iniciar Sesión</button></a>
          <a href="/register"><button class="auth-btn register-btn">Registrarse</button></a>
        </div>
  
        <div class="terms-section">
          <p class="terms-text">
            Al continuar, aceptas nuestros <a href="legal/terms">Términos de servicio</a> y <a
              href="legal/privacy">Política de privacidad</a>.
          </p>
        </div>
      </div>
    </div>
  </div>
  } @else {
  <div class="home-wrapper authenticated">
    <h2 class="page-title">
      ¡Hola, <span class="highlight">{{ userName }}</span>! 👋
    </h2>
    <div class="dashboard-container">
      <app-dashboards></app-dashboards>
    </div>
  </div>
  }