.home-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #fed3a9;
  color: white;
  overflow: hidden;
}

.branding-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6rem;
}

.logo-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.branding-logo-large {
  width: 600px;
  height: auto;
}

.welcome-section {
  flex: 2;
  text-align: left;
}

.branding-title {
  font-size: 4.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.branding-subtitle {
  font-size: 2.5rem;
  margin-bottom: 3rem;
}

.auth-buttons {
  margin-bottom: 3rem;
}

.auth-buttons a button {
  background-color: #8000ff;
  color: white;
  border: none;
  padding: 1.25rem 1.5rem;
  font-size: 1.5rem;
  margin-right: 2rem;
  border-radius: 750px;
  cursor: pointer;
}

.terms-section {
  font-size: 1.3rem;
  color: #000;
}

.terms-section a {
  color: #000;
  text-decoration: underline;
}
.page-title{
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #000;
}