<div class="modal-backdrop" (click)="onClose()"></div>

<div class="modal-container" (click)="$event.stopPropagation()">
  <div class="modal-header">
    <h3>Usuarios que han comentado</h3>
    <button class="close-btn" (click)="onClose()">&times;</button>
  </div>

  <div class="modal-body">
    @if (comments && comments.length > 0) {
    <ul class="comment-list">
      @for (comment of comments; track comment._id) {
      <li class="comment-item">
        <div class="comment-user-info">
          <a [routerLink]="['/profile', comment.user._id]">
            @if (comment.user) {
            <img [src]="'http://localhost:3800/api/get-image-user/' + comment.user.image" class="comment-avatar"
              alt="User">
            }
          </a>
          <div class="comment-text-content">
            <div class="user-name">
              {{ comment.user.name }} {{ comment.user.surname }}
              <span class="nick">{{ comment.user.nick }}</span>
            </div>
            <div class="comment-date">🗓️ {{ comment.createdAt | date: 'dd/MM/yyyy HH:mm' }}</div>
            <div class="comment-text"
              [ngClass]="{ 'deleted-comment': comment.text === 'Este comentario ha sido eliminado.' }">
              💬 "{{ comment.text }}"
            </div>
          </div>
          @if(currentUserId === comment.user._id) {
          <button class="delete-btn" (click)="deleteComment(comment._id)" title="Eliminar comentario">
            Eliminar 🗑️
          </button>
          }
        </div>
      </li>
      }
    </ul>
    } @else {
    <p>No hay comentarios en esta publicación.</p>
    }
    <div class="message-input">
      <input [(ngModel)]="messageText" placeholder="Escribe un mensaje..." (keyup.enter)="sendComment()" />
      <button (click)="sendComment()">Enviar</button>
    </div>
  </div>
</div>